* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

li{
    list-style-type: none;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000;
}

/*-- header --*/
.main-header {
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #FFF;
}

.main-menu {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.main-menu a {
    border-bottom: 2px solid transparent;
    padding: 40px 20px;
    display: block;
}

.main-menu a:hover {
    border-bottom: 2px solid #FFF;
}

a {
    color: #FFF;
    text-decoration: none;
}

.main-header h1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.main-header p {
    width: 830px;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 20px;
}

.main-header div {
    padding: 0;
    margin-top: 150px;
}

hr {
    background-color: #A1A1A1;
    border: none;
    height: 1px;
}

.button {
    background: #4985FF;
    border-radius: 30px;
    padding: 13px 36px 15px 36px;
    display: inline-block;
}
/*-- !header --*/

/*-- services --*/
.services h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #323232;
    width: 740px;
    display: inline-block;
    margin-top: 110px;
}

.services-text {
    width: 730px;
    display: inline-block;
    margin: 50px 0 0 0;
}

.sites {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.sites li {
    display: flex;
    padding-top: 70px;
}
 
.sites div {
    text-align: left;
    margin-left: 18px;
}

.sites li+li {
    padding-left: 28px;
}

.sites li p {
    font-size: 14px;
    line-height: 22px;
    width: 222px;
    margin-top: 12px;
}

.sites h3 {
    padding-top: 40px;
}

.border {
    border: 1px solid #4985FF;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 9px white, 0 0 0 10px #E5E5E5;
}

.services-content a {
    margin: 55px 0 105px 0;
}
/*-- !services --*/

/*-- !standarts --*/
.standarts {
    background-color: #F6F6F8;
}

.standarts-content {
    padding: 100px 0 90px 0;
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    align-items: center;
}

.standarts-content-text {
    width: 50%;
    text-align: left;
}

.standarts-content-text h2 {
    color: #323232;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
}

.standarts-content-text p {
    margin: 40px 0 30px 0;
}

.standarts-content-text a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
}

.icon-list {
    display: flex;
    justify-content: space-around;
}

.icon-list div {
    display: flex;
    margin: 70px 0 17px 0;
}

.icon-number {
    font-size: 36px;
    color: #000;
    margin-left: 20px;
}

.icon-text {
    margin-bottom: 70px;
}
/*-- !standarts --*/


/*-- our-works --*/
.worksss {
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%) 0 0 / 100% 50% no-repeat, #fff;
}

.our-works {
    padding-top: 100px;
    padding-bottom: 85px;
}

.our-works-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-works-content a  {
    width: 200px;
    height: 45px; 
}

.our-works-content h2 {
    width: 540px;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    text-align: start;
}

.our-works-items {
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.our-works-items li+li {
    margin-left: 30px;
}

.our-works-item {
    text-align: left;
    margin-bottom: 85px;
}

.our-works-item h3 {
    margin-bottom: 30px;
}

.our-works-item span {
    color: #4985FF;
}

.our-works-item p {
    margin-bottom: 30px;
}

.our-works-item img {
    margin-top: 70px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.our-works-item a {
    color: #4985FF;
    font-weight: 500;
    line-height: 20px;
    text-decoration-line: underline;
}
/*-- !our-works --*/


/*-- our-projects --*/
.our-projects {
    background: #F6F6F8;
}

.our-projects-content {
    padding: 100px 0 130px 0;
}

.our-projects-content h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #000;
}

.our-projects-content p {
    width: 730px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 70px;
}

.our-projects-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.our-projects-links a+a {
    padding-left: 30px;
}
/*-- !our-projects --*/


/*-- about-work --*/
.about-work {
    background-image: url(../img/backaboutwork.jpg);
    height: 570px; 
}

.about-work-content {
    padding-top: 70px;
}

.about-work-content h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #FFF;
    margin-bottom: 30px;
}

.about-work-content p {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFF;
    margin-bottom: 70px;
}

.button-video {
    max-width: 970px;
    width: 100%;
    height: 430px;
    background-image: url(../img/video.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 10px;
}

.button-video::after {
    content: url(../img/video__button.svg);
}
/*-- !about-work --*/

.mailing {
    padding-top: 185px;
}

.mailing-content hr {
    border: 1px solid #E0E0E0;
    margin-bottom: 85px;
}

.news {
    margin: 20px 0 30px 0;
}

.spam {
    margin: 35px 0 85px 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
}

form {
    display: flex;
    max-width: 489px;
    margin: 0 auto;
}

.email {
    width: 300px;
    height: 45px;
    border: 1px solid #F2F2F2;
    border-radius: 30px 0px 0px 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}

::placeholder {
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #999;
    padding: 13px 33px;
}

.mailing-batton {
    width: 189px;
    height: 44px;
    background: #4985FF;
    border-radius: 0px 30px 30px 0px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}


footer {
    background: #F6F6F8;
    padding: 70px 0 30px 0;
}

footer a {
    font-size: 14px;
    line-height: 22px;
    color: #999;
}

.contacts {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.contacts li {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999;
}

.contacts li+li {
    margin-top: 30px;
}

.contacts h3 {
    margin-bottom: 35px;
}

.point {
    margin-left: 12px;
}

.point1 {
    margin-left: 15px;
}

footer hr {
    border: 1px solid #E0E0E0;
}

.copy {
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #999;
    margin-top: 30px;
}


@media (max-width: 1150px) {
    .container {
        max-width: 950px;
        margin: 0 auto;
    }
    .standarts-content-img {
        margin-left: 20px;
    }
    .our-projects-content {
        margin: 0 20px;
    }
    .sites {
        flex-wrap: wrap;
    }
    .services-text {
        width: 530px;
        margin-bottom: 0;
    }
    .our-projects-content {
        margin: 0 auto;
        text-align: center;
    }
    .our-projects-links li+li {
        padding-left: 30px;
    } 
    .our-works-item {
        margin-bottom: 40px;
    }
    .worksss {
        max-height: 900px;
    }
    .our-works {
        padding-top: 80px;
        padding-bottom: 55px;
    }
}

    
@media (max-width: 992px) {
    .container {
        max-width: 760px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .main-menu a {
        font-size: small;
        padding: 20px 20px;
    }
    .main-header p {
        font-weight: 600;
        font-size: 34px;
        width: 560px;
        line-height: 42px;
    }
    .services h2,
    .services-text {
        width: 600px;
    }
    .standarts-content {
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    .standarts-content-text {
        width: 100%;
        text-align: center;
    }
    .standarts-content-text a {
        font-weight: 400;
        line-height: 16px;
        font-size: small;
    }
    .standarts-content-img {
        margin: 0 auto;
        margin-top: 40px;
    }
    .icon-list li+li {
        padding-left: 35px;
    }
    .icon-number {
        font-size: 32px;
        margin-left: 15px;
    }
    .sites li+li {
        padding-left: 0;
    }
    .contacts div {
        padding-left: 20px;
    }
    .contacts li+li {
        margin-top: 15px;
    }
    .contacts h3 {
        text-align: left;
    }
    .our-projects-links {
        margin: 0 30px 30px 30px;
    }
    .worksss {
        background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%) 0 0 / 100% 40% no-repeat, #fff;
        }
}


@media (max-width: 768px) {
    .container {
        max-width: 560px;
    } 
    .main-menu a {
        padding: 12px 10px;
    }
    .icon-number {
        font-size: 25px;
        margin-left: 6px;
    }
    .icon-text {
        margin-bottom: 50px;
        font-size: x-small;
    }
    .icon-list div {
        margin: 50px 0 8px 0;
    }
    .our-projects-content {
        padding: 60px 0 70px 0;
    }
    .our-projects-content h2 {
        font-size: 30px;
        line-height: 42px;
    }
    .our-projects-content p {
        width: 530px;
    }
    .our-projects-links li+li {
        padding-left: 0;
        padding-bottom: 20px;
    }
    .about-work-content h2 {
        font-size: 30px;
        line-height: 42px;
    }
    .our-works {
        padding-top: 60px;
        padding-bottom: 65px;
    }  
    .our-works-content h2 {
        font-size: 30px;
        line-height: 42px;
    }
    .our-works-item img {
        margin-top: 40px;
    }
    .our-works-item a {
        font-weight: 400;
        line-height: 16px;
        font-size: small;
    }    
    .services h2,
    .services-text {
        width: 450px;
    }
    .services h2 {
        margin-top: 60px;
        font-size: 30px;
        line-height: 42px;
    }
    .standarts-content {
        padding: 60px 0 50px 0;
    }
    .standarts-content-text h2 {
        font-size: 30px;
        line-height: 42px;
    }
    .worksss {
        background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%) 0 0 / 100% 40% no-repeat, #fff;
    }
    .our-works-content {
        flex-wrap: wrap;
    }
    .our-works-content h2 {
        text-align: center;
    }
    .our-works-content a  {
        margin: 0 auto;
        margin-top: 30px;
    }
    .our-works-items p {
        font-size: 12px;
        line-height: 20px;
    }
    .our-projects-links {
        flex-wrap: wrap;
    }
    .our-projects-links li {
        margin: 0 auto;
    }
    .our-projects-links li+li {
        padding-bottom: 0;
    }
    .point,
    .point1 {
        font-size: xx-small;
    }
    .contacts li+li {
        margin-top: 5px;
    }
    .services-content a {
        margin: 40px 0 65px 0;    
    }
}


@media (max-width: 576px) {
    .container {
        width: 95%;
        padding-left: 0;
        padding-right: 0;
    }
    .main-menu a {
        font-size: xx-small;
        padding: 4px 3px;
    }
    body {
        font-size: 12px;
        line-height: 20px;
    }
    .main-header p {
        font-weight: 600;
        font-size: 24px;
        width: 290px;
        line-height: 32px;
    }
    h3 {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }
    .services-content {
        padding: 0;
    }
    .services h2,
    .services-text {
        width: 270px;
    }
    .services h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .sites li p {
        font-size: 10px;
        line-height: 18px;
        width: 160px;
    }
    .standarts-content-text h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .icon-list {
        flex-wrap: wrap;
    }
    .icon-text {
        margin-bottom: 20px;
    }
    .icon-list div {
        margin: 20px 0 8px 0;
    }
    .icon-list li+li {
        padding-left: 25px;
    }
    .worksss {
        max-height: 2000px; background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%) 0 0 / 100% 20% no-repeat, #fff;
    }
    .our-works-content h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .our-works-items {
        display: flex;
        flex-wrap: wrap;
    }
    .our-works-item {
        text-align: center;
    }
    .our-works-items li+li {
        margin-left: 0;
    }
    .our-works-items li {
        margin-bottom: 0;
    }
    .our-works-item img,
    .our-works-item h3,
    .our-works-item p {
        margin-bottom: 10px;
    }
    .our-works-items p {
        font-size: 10px;
        line-height: 18px;
    }
    .our-projects-content h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .our-projects-content p {
        width: 290px;
    }
    .about-work-content {
        padding-top: 50px;
    }
    .about-work-content h2 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .about-work-content p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 30px;
    }
       .mailing {
        padding-top: 85px;
    }
    .spam {
        font-size: 11px;
        line-height: 18px;
    }
    form {
        max-width: 290px;    
    }
    ::placeholder {
        font-size: 10px;
        line-height: 16px;  
    }
    .mailing-batton {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }
    .contacts {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .contacts h3 {
        margin-bottom: 15px;
        margin-top: 20px;
    }
    footer {
        padding-top: 0;
    }
}

